// menu
$menu-background-color:hsl(163,27.7%,32%);
$menu-item-text-color:white;
$menu-item-hover-color: #f44336;

//lins
$link-color:#549ff3;
$link-hover-color:#f00;

// form
$form-background-color:rgba(250,250,250,0.5);
$form-text-color:#669;
$submit-button-background-color:linear-gradient(#b9bbde, #669);
$reset-button-background-color:linear-gradient(#b8babb, #6f6e73);
$button-hover-color:linear-gradient(#666, #444);

// footer
$footer-background-color:#ff7fcf;
$footer-link-background-color:rgba(120,120,120,0.2);
$footer-link-text-color:#ededed;
$footer-link-hover-color:rgba(120,120,120,0.8);
$footer-link-hover-text-color:#fff;